<div  class="custom-dialog w-full h-full nunito-regular flex flex-col justify-between">
	<form class="p-fluid flex flex-col gap-5" [formGroup]="productForm">
		<div class="flex gap-8 justify-between w-full">
			<div class="p-field grid-cols-9 flex flex-col w-1/2">
				<label for="productName">Nombre</label>
				<input id="productName" type="text" pInputText formControlName="name"  class="rounded-md bg-c-beige-100 border-none outline-none"/>
				<div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="p-error">
					{{getErrorMessage('name')}}
				</div>
			</div>
			<div class="p-field grid-cols-3 flex w-1/4 gap-2 items-center justify-center">
				<p-inputSwitch formControlName="available" class="h-full flex items-center"></p-inputSwitch>
				<label for="productAvailable" class="flex w-auto text-center h-full text-nowrap items-center"><span class="text-center flex items-center text-nowrap text text-sm">{{ productForm.get('available')?.getRawValue() ? 'Disponible' : 'No Disponible' }}</span></label>
			</div>
		</div>

		<div class="p-field flex flex-col">
			<label for="productDescription">Descripción</label>
			<textarea id="productDescription" pInputTextarea formControlName="description" class="rounded-md bg-c-beige-100 border-none outline-none"></textarea>
			<div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="p-error">
				{{ getErrorMessage('description') }}
			</div>
		</div>
		<div class="p-field flex flex-col">
			<label for="productPrice">Precio</label>
			<input id="productPrice" type="number" pInputText formControlName="price"  class="rounded-md bg-c-beige-100 border-none outline-none"/>
			<div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="p-error">
				{{ getErrorMessage('price') }}
			</div>
		</div>
		<div class="p-field flex flex-col">
			<label for="productCategory">Categoría</label>
			<p-dropdown [options]="categories" formControlName="category" class="rounded-md bg-c-beige-100 border-none outline-none"></p-dropdown>
			<div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="p-error">
				{{ getErrorMessage('category') }}
			</div>
			<button class="bg-blue-500 text-white px-4 py-2 rounded-md mt-2" (click)="openCategoryModal()">Agregar Categoría</button>
		</div>
		<div class="p-field flex flex-col">
			<label for="productImage">Imagen</label>
			<p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" customUpload="true" (uploadHandler)="uploadImage($event)" chooseLabel="Seleccionar" uploadLabel="Subir" cancelLabel="Cancelar"></p-fileUpload>
			<img *ngIf="productForm.get('image')?.value" [src]="productForm.get('image')?.value" alt="Product Image" class="w-32 mt-2 rounded-xl">
		</div>

	</form>
	<div class="ui-dialog-footer">
		<div class="flex justify-end gap-4 mt-4">
			<button class="bg-red-500 text-white px-4 py-2 rounded-md" (click)="closeModal()">Cancelar</button>
			<button class="bg-green-500 text-white px-4 py-2 rounded-md" (click)="saveProduct()">Guardar</button>
		</div>
	</div>
</div>
