/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-c-orange-100 { background-color: #E55204; }
.bg-c-beige-100 { background-color:#F3E3BF; }
.bg-c-brown-100 { background-color: #5B5548; }
.bg-c-beige-200 { background-color: #D5C7A7; }

.border-c-orange-100 { border-color: #E55204; }
.border-c-beige-100 { border-color:#F3E3BF; }
.border-c-brown-100 { border-color: #5B5548; }
.border-c-beige-200 { border-color: #D5C7A7; }

.fill-c-orange-100 { fill: #E55204; }

.text-c-beige-100 { color: #F3E3BF; }
.text-c-orange-100 { color: #E55204; }
.text-c-brown-100 { color: #433e35; }

.nunito-regular {
	font-family: "Nunito", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.nunito-bold {
	font-family: "Nunito", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
  }

.nunito-extra-bold {
	font-family: "Nunito", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.ripple {
	background-position: center;
	transition: background 0.8s;
}

.ripple:active {
	background-color: currentColor;
	background-size: 100%;
	transition: background 0s;
}

@keyframes slideInLeft {
	from {
	  	transform: translate3d(-100%, 0, 0);
	  	visibility: visible;
	}

	to {
	  	transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	animation-name: slideInLeft;
	animation-duration: 1s;
}

@keyframes slideInRight {
	from {
	  	transform: translate3d(100%, 0, 0);
	  	visibility: visible;
	}

	to {
	  	transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	animation-name: slideInRight;
	animation-duration: 1s;
}